ion-content {
  --background: #FFFF;
  --color: #fff;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura del viewport */
}

img {
  max-width: 70%;
  height: auto;
}