<ion-header>
  <app-logo></app-logo>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title> </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" class="ion-margin-top">Iniciar Sesión</ion-button>
  </form>
  <ion-item *ngIf="!isWeb">
    <ion-button expand="block" color="primary" (click)="loginWithGoogle()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Iniciar sesión con Google
    </ion-button>
  </ion-item>
  <!-- Botón Google Identity Services para web -->
  <div *ngIf="isWeb">
    <div id="google-signin-btn"></div>
  </div>
</ion-content>
