<ion-header>
  <ion-toolbar>
    <ion-title>Mis contratos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button   expand="block" class="custom-button" (click)="goNewContract()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          Nuevo contrato
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button id="open-modal" expand="block" class="custom-button">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          Nueva categoría
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="folder-list">
    <ion-item *ngFor="let categoria of categories" lines="none">
      <ion-icon slot="start" name="folder-outline" class="folder-icon"></ion-icon>
      <ion-label>{{ categoria.name }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-alert
    [isOpen]="isAlertOpen"
    header="ALERTA"
    message="Se debe crear una categoría antes de crear un contrato."
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
  ></ion-alert>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Ingresar nombre de la categoría"
            labelPlacement="stacked"
            type="text"
            placeholder="nombre de la categoría"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>



</ion-content>

<ion-footer class="footer-with-button">
  <div class="footer-content">
    <ion-button class="home-button" (click)="goHome()">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
