.resumen-contrato {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 24px;

  padding-bottom: 80px;

  .container {
    font-family: 'Helvetica', sans-serif;
    color: #0d2c5c;

    h2 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 20px;

      li {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 8px;

        strong {
          font-weight: 700;
        }
      }
    }

    .precio {
      font-size: 16px;
      margin-bottom: 24px;

      span {
        font-weight: 600;
      }
    }

    .guardar-btn {
      --background: #0d2c5c;
      --color: white;
      border-radius: 12px;
      font-size: 16px;
      font-weight: 600;
      height: 48px;
    }

    padding-bottom: 60px;

  }
}

app-footer {
  z-index: 10;
  position: relative; /* o static si no necesitas fijo */
}
